body {
  display: grid;
  justify-content: center;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 42px;
}

.gameboard-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 300px;
  width: 300px;
  margin-top: 40px;
}

.row1, .row2 {
  border-bottom: 2px solid black;
}

.col1, .col2 {
  border-right: 2px solid black;
}

.gameboard-container div {
  font-size: 50px;
  font-weight: 900;
  display: grid;
  align-items: center;
  border: 1px solid pink;
}

.turn {
  font-size: 28px;
  height: 30px;
}

.create-players {
  display: grid;
  row-gap: 15px;
  column-gap: 10px;
  grid-template-columns: auto 1fr;
  width: 300px;
  align-items: center;
}

.hidden {
  display: none;
}

.create-players input {
  border-radius: 5px;
  border-style: none;
  border: .2px solid black;
  /* height: 25px; */
  padding: 5px 8px;
}

.start-game {
  grid-column: 1 / 3;
}

.new-game {
  margin-top: 50px;
}

button {
  padding: 8px 20px;
  border-radius: 20px;
  border: none;
  background-color: gold;
  box-shadow: 1px 5px 5px -3px rgba(0,0,0,0.1);
}

button:hover {
  background-color: hsl(51, 95%, 50%);
  box-shadow: 2px 7px 5px -3px rgba(0,0,0,0.1);
}